.borderBottom {
    // border-bottom: 1px solid #d0d0d0;
    // padding-bottom: 15px;
    // width: 16.67%;
    .brandGrid {
        .borderGrid {
            padding-right: 15px;
            padding-left: 15px;
            img {
                width: 100% !important;
            }
        }
    }
}