.col-lg-4.animate {
	transform: translate(0,0);
	visibility: visible;
	opacity:1;
}

@-moz-keyframes foo {
    from { opacity: 1; }
    to { opacity: .3; }
}

@-ms-keyframes foo {
    from { opacity: 1; }
    to { opacity: .3; }
}

@-webkit-keyframes foo {
    from { opacity: 1; }
    to { opacity: .3; }
}

.mystatus font {
    width:50px;
    height:50px;
    -moz-animation:1s foo infinite alternate;
    -ms-animation:1s foo infinite alternate;
    -webkit-animation:1s foo infinite alternate;
}
