@import url(https://fonts.googleapis.com/css?family=Nunito);
.borderBottom .brandGrid .borderGrid {
  padding-right: 15px;
  padding-left: 15px;
}
.borderBottom .brandGrid .borderGrid img {
  width: 100% !important;
}

.cardcontainer .buttonlogout:hover {
  text-decoration: none !important;
  cursor: pointer;
}
.cardcontainer .logout:hover {
  text-decoration: none;
  cursor: pointer;
}

.header .putOnRight i {
  color: #fff !important;
}
.header .putOnRight span {
  color: #fff !important;
  transition: all 0.5s;
}
.header .putOnRight .btn-primary {
  background-color: #1f91f3 !important;
  right: 10px;
  transition: all 0.5s;
}
.header .putOnRight:hover i {
  color: #1f91f3 !important;
}
.header .putOnRight:hover span {
  color: #1f91f3 !important;
}
.header .putOnRight:hover .btn-primary {
  background-color: #ffffff !important;
}

@media (max-width: 570px) {
  .showHide {
    display: none;
  }
}
.navbar-categories.selected:before {
  visibility: visible;
  transform: scaleX(1);
}

.video-thumb {
  height: 100%;
}
.video-thumb .play-button {
  opacity: 0.6;
  color: #fff;
}
.video-thumb .video-caption {
  position: absolute;
  text-align: left;
  bottom: 5px;
  font-size: 17px;
  transition: 0.2s all ease-in-out;
}
.video-thumb .video-caption:before {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #35e3a0;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  bottom: -6px;
  content: "";
  height: 2px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: absolute;
  width: 0%;
  z-index: 1;
  visibility: visible;
  transition: 0.5s all ease-in-out;
}
.video-thumb:hover .video-caption:before {
  width: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

@media (max-width: 991px) {
  .video-caption {
    position: absolute;
    text-align: left;
    bottom: 19px !important;
    left: 10px !important;
    font-size: 14px !important;
  }
}
.fa-4x {
  font-size: 7em !important;
}

@media screen and (max-width: 768px) {
  .fa-4x {
    font-size: 4em !important;
  }
}
