.works {
	padding-bottom: 100px;
	background: #FFFFFF;
	min-height: 800px;
}
/* IMAGE GRID */
.work-list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.work-list li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 33.33%; /* Fallback */
	width: -webkit-calc(100% / 3);
	width: calc(100% / 3);
	-webkit-transition: 0.5s all linear;
	transition: 0.5s all linear;
}
.work-list li a,.work-list li a img {
	display: block;
	max-width: 100%;
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	cursor: pointer;
	-webkit-transition: 0.4s all linear;
	transition: 0.4s all linear;
	width: 100%;
	/* height: 300px; */
}
.work-list li a:hover img {
	-webkit-transform: scale(1.05,1.07);
	-ms-transform: scale(1.05,1.07);
	transform: scale(1.05,1.07);
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
}

.work-list li a .project-info {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	text-align: center;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
}
.work-list li a .project-info .project-details {
	position: relative;
	/* top: -29px; */
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
	width: 100%;
}
.work-list li a .project-info h5 {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.work-list li a:hover .project-info {
	filter: alpha(opacity=100);
	opacity: 1;
}
.work-list li a:hover .project-details {
	filter: alpha(opacity=100);
	opacity: 1;
	/* top: 0; */
}
.work-list li a:hover .button {
	filter: alpha(opacity=100);
	opacity: 1;
	bottom: -50px;
}
.work-list li.work-list-open a .project-info {
	filter: alpha(opacity=100);
	opacity: 1;
}
.work-list-tr {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	z-index: 9;
}
.work-list li.work-list-open a .project-info .project-details {
	top: 0;
	opacity: 1;
}

/* media queries:  change number of items per row */
@media screen and (max-width: 1190px) {
	.work-list li {
		width: 33.33%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}
@media screen and (max-width: 1024px) {
	.work-list li {
		width: 50%; /* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
		/* height: 300px; */
	}
	.containerSubmit {
		position: absolute;
		left: 40%;
	}
}
@media screen and (max-width: 768px) {
	.work-list li {
		width: 100%; /* Fallback */
		width: -webkit-calc(100%);
		width: calc(100%);
		/* height: 300px; */
	}
	.containerSubmit {
		position: absolute;
		left: 35%;
	}
}
@media screen and (max-width: 480px) {
	.work-list li {
		width: 100%;
		/* height: 300px; */
	}
	.containerSubmit {
		position: absolute;
		left: 31%;
	}
}
@media screen and (max-width: 300px) {
	.work-list li {
		width: 100%;
		/* height: 300px; */
	}
	.containerSubmit {
		position: absolute;
		left: 25%;
	}
}