/* .carousel-words {
	z-index: 10;
	display: table-cell;
	vertical-align: middle;
} */

.carousel {
  padding-top: 75px;
}

.carousel-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

@media (max-width: 767.98px) {
  .carousel {
    padding-top: 76px;
  }
  .carousel-item img {
    height: 230px !important;
    object-fit: contain;
  }
}

/* create for mobile */
@media (max-width: 575.98px) {
  .carousel-item img {
    height: 200px !important;
    object-fit: contain;
  }
}

/*
ZOOM IN CAROUSEL
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  overflow:hidden;
}
.animated img {
  -webkit-animation: 4000ms zoomIn ease-in-out;
  -moz-animation: 4000ms zoomIn ease-in-out;
  -ms-animation: 4000ms zoomIn ease-in-out;
  -o-animation: 4000ms zoomIn ease-in-out;
  animation: 4000ms zoomIn ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes zoomIn {
  0% { transform: scale(1.2); }
  100% { transform: scale(1.3); }
}

@-webkit-keyframes zoomIn {
  0% { -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1.3); }
}

@-moz-keyframes zoomIn {
  0% { -moz-transform: scale(1.2); }
  100% { -moz-transform: scale(1.3); }  
}

@-ms-keyframes zoomIn {
  0% { -ms-transform: scale(1.2); }
  100% { -ms-transform: scale(1.3); }  
}

@-o-keyframes zoomIn {
  0% { -o-transform: scale(1.2); }
  100% { -o-transform: scale(1.3); }  
}

/*Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
CSS from:       http://codepen.io/transportedman/pen/NPWRGq
and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
Inspired from:  http://codepen.io/Rowno/pen/Afykb*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}    
.carousel-fade .carousel-inner .active {
  opacity: 1;
  transition-property: opacity;
}    
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}    
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}    
.carousel-fade .carousel-control {
  z-index: 2;
}

/*WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
Need to override the 3.3 new styles for modern browsers & apply opacity*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

/* @media (max-width: 575.98px) {
  .carousel-inner .widthCarousel {
    height: 480px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-inner .widthCarousel {
      height: 480px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-inner .widthCarousel {
      height: 400px !important;
  }
}

@media (min-width: 992px) {

    .carousel-inner .widthCarousel {
        height: 380px !important;
    }
} */

/* Testimonial CSS Code Start */
/* background */
/* .carousel-bg {
	background-color: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

.quote-image {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 80px;
}

.testimonial-style .testimonial-caption-style {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 24px;
	color: #354052;
	line-height: 30px;
	bottom: 40%;
	text-shadow: none;
	top: 20px;
}
.testimonial-style .testimonial-authors {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 20px;
	color: #354052;
	line-height: 30px;
	margin-top: 40px;
}

.testimonial-style .carousel-inner > .item {
	padding-top: auto;
	padding-bottom: auto;
	height: 380px;
}

.testimonial-style .carousel-control.left {
	background: none;
	box-shadow: none;
	text-shadow: none;
}
.testimonial-style .carousel-control.right {
	background: none;
	box-shadow: none;
	text-shadow: none;
}
.testimonial-style .carousel-control {
	color: #354052;
}
.testimonial-style .carousel-control:hover {
	color: #354052;
	text-decoration: none;
	transition: background-color 1s ease;
}

.testimonial-style .carousel-indicators .active {
	background-color: #fff;
	width: 14px;
	height: 14px;
	transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.testimonial-style .carousel-indicators li {
	border: 2px solid #354052;
	background-color: #354052;
}

.customTestimonial {
	height: unset;
    margin-top: unset;
} */
/* Testimonial CSS Code End */