/* PROJECT_UX Page
================================== */
body {
	background-image: none;
}

.header {
	width: 100%;
	position:relative;
	display:block;
	margin-top: 70px;
}

.caption {
	/* margin-left: 15%;
	margin-top: 150px;
	margin-right: 15%; */
	width: 100%;
}

.caption h1{
	font-family: 'robotothin';
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
	color: #fff;
	z-index:3;
	text-align: center;
	/* float:left;
	position: relative; */
}

.appscreen {
	z-index:-1;
	position:absolute;
}

.mt-50 {
	margin-top: 50px;
}

.mb-20 {
	margin-bottom: 20px;
}

/*======== APP SCREEN & Caption =========== */ 

@media screen and (min-width: 1190px) {
	#panorama {
		width: 1000px;
		height: 400px;
		display: block;
		margin: 0 auto;
	}
	.caption h1{
		font-size: 60pt;
		margin-top:auto;
		margin-bottom:auto;
	}
	
	.appscreen img {
		right: 0;
		top: 0;
		max-height: auto;
		width: 90%;
	}
	
	.container.content {
		width:70%;
		padding: 50px 0;
	}
	
	.header {
		height: 400px;
	}

	.headerProject {
		height: 560px;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1189px) {
	.caption h1{
		font-size: 55pt;
		margin-top:auto;
		margin-bottom:auto;
	}
	
	.appscreen img {
		right: 0;
		top: 0;
		max-height: auto;
		width: 90%;
	}
	
	.container.content {
		width:60%;
		padding: 50px 0;
	}
	
	.header {
		height:350px;
	}

	.headerProject {
		height: 500px;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#panorama {
		width: 900px;
		height: 400px;
		display: block;
		margin: 0 auto;
	}
	.caption h1{
		font-size: 50pt;
		margin-top:auto;
		margin-bottom:auto;
	}
	
	.appscreen img {
		right: 0;
		top: 0;
		max-height: auto;
		width: 90%;
	}
	
	.container.content {
		width:70%;
		padding: 30px 0; 
	}
	
	.header {
		height:350px;
	}

	.headerProject {
		height: 500px;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	#panorama {
		width: 650px;
		height: 300px;
		display: block;
		margin: 0 auto;
	}
	.caption h1{
		font-size: 43pt;
	}
	
	.appscreen img {
		right: 0;
		top: 0;
		max-height: auto;
		width: 250%;
	}
	
	.container.content {
		width:100%;
		padding: 50px 0;
	}
	
	.header {
		height:300px;
	}

	.headerProject {
		height: 500px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
}

@media screen and (min-width: 200px) and (max-width: 479px) {
	#panorama {
		width: 330px;
		height: 200px;
		display: block;
		margin: 0 auto;
	}
	.caption h1{
		font-size: 36pt;
	}
	
	.appscreen img {
		right: 0;
		top: 0;
		max-height: auto;
		width: 250%;
	}
	
	.container.content {
		width:100%;
		padding: 50px 0;
	}
	
	.header {
		height:250px;
	}

	.headerProject {
		height: 63vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
}

.main-container {
	background-color: #fff;
	z-index:5;
	display:block;
	padding-bottom: 50px;
}

.main-container h2 {
	font-family:'proxima_novalight';
	text-transform: uppercase;
	margin-top: 50px;
}

.main-container p {
	text-align:center;
	margin-bottom:50px;
}

.underline:after {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: #35e3a0;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    content: "";
    height: 2px;
    left: 12.5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 25%;
    z-index: 1;
}

.section-wrap {
	display:block;
	position:relative;
	padding: 50px 0;
}

@media screen and (max-width: 991px) {
	.section-wrap .row:after {
		background-attachment: scroll;
	    background-clip: border-box;
	    background-color: #35e3a0;
	    background-image: none;
	    background-origin: padding-box;
	    background-position: 0 0;
	    background-repeat: repeat;
	    background-size: auto auto;
	    content: "";
	    height: 2px;
	    left: 12.5%;
	    margin-bottom: 50px;
	    margin-left: auto;
	    margin-right: auto;
		margin-top: 50px;
	    width: 100%;
	    z-index: 5;
	}
}

.col-md-8 p{
	font-family:'proxima_novalight';
	font-size: 15pt;
	text-align: justify;
}

.col-md-4 {
	text-align:center;
}

.result-ux {
	display:block;
	position:inherit;
	color:#fff;
}

.result-wrapper {
	margin-top:50px;
}

.section_title span a {
	font-family: 'proxima_novalight';
	font-size: 20px;
	color: #8d8d8d;
	display: inline !important;
	transition: all 0.25s ease-in-out 0s;
	position: relative;
	cursor: pointer;
}

.section_title span a span {
	padding: 5px 14px;
}

.section_title span a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    text-align: center;
    background-color: #f8941e;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.section_title span a:hover:before {
    visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#content figure {
	transition: all 0.25s ease-in-out 0s;
}

.section_title span a span.active {
	background-color: #f8941e;
	color:#fff;
	border-radius: 17px;
}

.section_title span a.active:hover:before {
	visibility: hidden !important;
	-webkit-transform: scaleX(0) !important;
	transform: scaleX(0) !important;
}

a .project-info {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	text-align: center;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
}
a .project-info .project-details {
	position: relative;
	/* top: -29px; */
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
	width: 100%;
}
a .project-info h5 {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
a:hover .project-info {
	filter: alpha(opacity=100);
	opacity: 1;
}
a:hover .project-details {
	filter: alpha(opacity=100);
	opacity: 1;
	/* top: 0; */
}

.mr-5 {
	margin-right: 20px !important;
}

.footer {
	color:#fff;
	margin-top:-60px;
	display:block;
}
.phone img{
	margin-bottom:-80px;
}

.col-xs-6.left{
	text-align:left;
	font-family:'proxima_novalight';
	font-size: 14pt;
	text-transform: uppercase;
	background-color:transparent;
	cursor:pointer;
	border: 0;
	background: none;
}

.col-xs-6.right {
	text-align:right;
	font-family:'proxima_novalight';
	font-size: 14pt;
	text-transform: uppercase;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}