/*! responsive-nav.js 1.0.39 by @viljamis */

/*==================FIXED MENU===============*/

.logo a {
	position: fixed;
    z-index: 1;
}
.logo .link img {
	height: 50px !important;
	width: auto !important;
	max-width: unset !important;
}

.main-header {
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
	background-color: transparent;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
	border-bottom-color: -moz-use-text-color;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: -moz-use-text-color;
	border-left-style: none;
	border-left-width: medium;
	transition-delay: 0s;
    transition-duration: .5s;
    transition-property: all;
	transition-timing-function: ease-in-out;
	height:70px;
}
	
.main-header.darken-menu {
	background-color: #fff;
	/* background-color: rgba(150, 150, 150, 1); */
	background-image: none;
	transition-delay: 0s;
	transition-duration: .5s;
	transition-property: all;
	transition-timing-function: ease-in-out;
	outline: #000 solid 1px;
}

.nav-header {
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
	background-color: transparent;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
	border-bottom-color: -moz-use-text-color;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: -moz-use-text-color;
	border-left-style: none;
	border-left-width: medium;
	transition-delay: 0s;
    transition-duration: .5s;
    transition-property: all;
	transition-timing-function: ease-in-out;
	height:70px;
}
	
.nav-header.darken-menu {
	background-color: rgba(150, 150, 150, 1);
	background-image: none;
	transition-delay: 0s;
	transition-duration: .5s;
	transition-property: all;
	transition-timing-function: ease-in-out;
	padding: 10px 0;
}

/*==================DONE===============*/
.navigation-wrap {
	display:block;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (max-width: 467px) {
	.navbar-nav li:before {
		background-color: none;
		-webkit-transform: scaleX(0);
	    transform: scaleX(1);
	    -webkit-transition: all 0.2s ease-in-out 0s;
	    transition: all 0.2s ease-in-out 0s;
	}

	.navbar-nav li:hover:before {
		background-color: coral;
		-webkit-transform: scaleX(1);
	    transform: scaleX(1);
	    -webkit-transition: all 0.2s ease-in-out 0s;
	    transition: all 0.2s ease-in-out 0s;
	}

	.main-header.darken-menu {
		background-color: #fff;
		/* background-color: rgba(150, 150, 150, 1); */
		background-image: none;
		transition-delay: 0s;
		transition-duration: .5s;
		transition-property: all;
		transition-timing-function: ease-in-out;
		outline: #000 solid 1px;
	}
}

@media screen and (min-width: 468px) {
	.navbar-nav li:before {
		background-color: none;
		-webkit-transform: scaleX(0);
	    transform: scaleX(1);
	    -webkit-transition: all 0.2s ease-in-out 0s;
	    transition: all 0.2s ease-in-out 0s;
	}

	.navbar-nav li:hover:before {
		background-color: coral;
		-webkit-transform: scaleX(1);
	    transform: scaleX(1);
	    -webkit-transition: all 0.2s ease-in-out 0s;
	    transition: all 0.2s ease-in-out 0s;
	}

	.main-header.darken-menu {
		background-color: #fff;
		/* background-color: rgba(150, 150, 150, 1); */
		background-image: none;
		transition-delay: 0s;
		transition-duration: .5s;
		transition-property: all;
		transition-timing-function: ease-in-out;
		outline: #000 solid 1px;
		/* padding: 10px 0; */
	}
}

@media screen and (min-width: 768px) {
	.nav-collapse li {
		width: 20%;
		display: block;
		position: relative;
	}
	.navbar-nav li:hover {
		background-color: transparent;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}
	.navbar-nav a:before {
		content: "";
		position: absolute;
		width: 60px;
		height: 0;
		bottom: 6px;
		left: 15%;
		text-align: center;
		background-color: #f8941e;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	
	.navbar-nav a:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	.nav-collapse ul {
		margin-top: 10px;
		/* margin-right:30px; */
		padding: 0;
		width: 50% !important;
		display: inline-block;
		float: right !important;
	}
	.js .nav-collapse {
		position: relative;
	}
	.js .nav-collapse.closed {
		max-height: none;
	}
	.nav-toggle {
		display: none;
	}
}

@media screen and (min-width: 950px) {
	.nav-collapse li {
		width: 20%;
		display: block;
		position: relative;
	}
	.navbar-nav li:hover {
		background-color: transparent;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}
	.navbar-nav a:before {
		content: "";
		position: absolute;
		width: 60px;
		height: 2px;
		bottom: 6px;
		left: 20%;
		text-align: center;
		background-color: #f8941e;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
		
	.navbar-nav a:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	.nav-collapse ul {
		/* margin-top:9px;
		margin-right: 30px; */
		padding: 0 !important;
		width: 50% !important;
		display: inline-block;
		float: right !important;
	}
	.navigation-wrap {
		width: 960px;
		display:block;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
	}
	.js .nav-collapse {
		position: relative;
	}
	.js .nav-collapse.closed {
		max-height: none;
	}
	.nav-toggle {
		display: none;
	}
}